.Topbar {
  text-align: center;
  background-color: #282c34;
}

.Topbar-logo {
  height: 15vmin;
  background-color: #282c34;
}

.Topbar-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Topbar-link {
  color: #09d3ac;
}
